<% @drinks.each do |drink| %>
<p>
  <a href="/show/<%= drink.id %>">
   <button><%= drink.strdrink %></button>
  </a> 
</p>
<% end %>

<% @drinks.each do |drink| %>
<p>
  <a href="/show/<%= drink.id %>">
   <button><%= drink.strdrink %></button>
  </a> 
</p>
<% end %>

<h3>Notes</h3>
<% @mydrinks.each do |mydrink|%>
  <p><%= mydrink.body %></p>
<% end %>
  </div>