<h2>This is to show the details of a drink in CocktailDB</h2>

<div class="container">
  <div class="left" style="background-color: lightblue;">
    <h3><%= @result_hash["strDrink"] %></h3>
    <img src="<%= @result_hash["strDrinkThumb"] %> " alt="">
    <br>
    <form action="/drinks" method="post">
      <input type="hidden" name="apiDb_name" value="<%= @result_hash["strDrink"] %>">
      <input type="hidden" name="apiDb_id" value="<%= @result_hash["idDrink"] %>">
      <input type="hidden" name="apiDb_pic" value="<%= @result_hash["strDrinkThumb"] %>">
      <input type="hidden" name="apiDb_alc" value="<%= @result_hash["strAlcoholic"] %>">
      <input type="hidden" name="apiDb_gla" value="<%= @result_hash["strGlass"] %>">
      <input type="hidden" name="apiDb_ins" value="<%= @result_hash["strInstructions"] %>">
      <input type="hidden" name="apiDb_ing1" value="<%= @result_hash["strIngredient1"] %>">
      <input type="hidden" name="apiDb_ing2" value="<%= @result_hash["strIngredient2"] %>">
      <input type="hidden" name="apiDb_ing3" value="<%= @result_hash["strIngredient3"] %>">
      <input type="hidden" name="apiDb_ing4" value="<%= @result_hash["strIngredient4"] %>">
      <input type="hidden" name="apiDb_ing5" value="<%= @result_hash["strIngredient5"] %>">
      <input type="hidden" name="apiDb_ing6" value="<%= @result_hash["strIngredient6"] %>">
      <input type="hidden" name="apiDb_ing7" value="<%= @result_hash["strIngredient7"] %>">

      <input type="hidden" name="apiDb_mea1" value="<%= @result_hash["strMeasure1"] %>">
      <input type="hidden" name="apiDb_mea2" value="<%= @result_hash["strMeasure2"] %>">
      <input type="hidden" name="apiDb_mea3" value="<%= @result_hash["strMeasure3"] %>">
      <input type="hidden" name="apiDb_mea4" value="<%= @result_hash["strMeasure4"] %>">
      <input type="hidden" name="apiDb_mea5" value="<%= @result_hash["strMeasure5"] %>">
      <input type="hidden" name="apiDb_mea6" value="<%= @result_hash["strMeasure6"] %>">
      <input type="hidden" name="apiDb_mea7" value="<%= @result_hash["strMeasure7"] %>">

      <input type="hidden" name="apiDb_date" value="<%= @result_hash["dateModified"] %>">
      <textarea name="body" id="" cols="50" rows="2" placeholder="you may make a note before save..."></textarea>
      <button>Save to MyCocktails</button>
    </form>
    <h5>Instructions:</h5>
    <p style="width: 350px; text-align: justify;"><%= @result_hash["strInstructions"] %></p>
  </div>

  <div class="right" style="background-color: mistyrose;">
    <p>Alcohol: <span><%= @result_hash["strAlcoholic"] %></span></p>
    <p>Serve: <span><%= @result_hash["strGlass"] %></span></p>
    <p>Ingredients: </p> 
    <img src="http://www.thecocktaildb.com/images/ingredients/<%= @result_hash["strIngredient1"] %>.png" alt="">
    <img src="http://www.thecocktaildb.com/images/ingredients/<%= @result_hash["strIngredient2"] %>.png" alt="">
    <img src="http://www.thecocktaildb.com/images/ingredients/<%= @result_hash["strIngredient3"] %>.png" alt="">
    <img src="http://www.thecocktaildb.com/images/ingredients/<%= @result_hash["strIngredient4"] %>.png" alt="">
    <img src="http://www.thecocktaildb.com/images/ingredients/<%= @result_hash["strIngredient5"] %>.png" alt="">
    <img src="http://www.thecocktaildb.com/images/ingredients/<%= @result_hash["strIngredient6"] %>.png" alt="">
    <img src="http://www.thecocktaildb.com/images/ingredients/<%= @result_hash["strIngredient7"] %>.png" alt="">
    <p><%= @result_hash["strIngredient1"] %>  <%= @result_hash["strMeasure1"] %></p>
    <p><%= @result_hash["strIngredient2"] %>  <%= @result_hash["strMeasure2"] %></p>
    <p><%= @result_hash["strIngredient3"] %>  <%= @result_hash["strMeasure3"] %></p>
    <p><%= @result_hash["strIngredient4"] %>  <%= @result_hash["strMeasure4"] %></p>
    <p><%= @result_hash["strIngredient5"] %>  <%= @result_hash["strMeasure5"] %></p>
    <p><%= @result_hash["strIngredient6"] %>  <%= @result_hash["strMeasure6"] %></p>
    <p><%= @result_hash["strIngredient7"] %>  <%= @result_hash["strMeasure7"] %></p>
    