<h2>This is to show the details of a drink in my DB</h2>

<div class="container">
  <div class="left">
    <h3><%= @drink.strdrink %></h3>
    <img src="<%= @drink.strdrinkthumb %> " alt="">
    <br>
    <h5>Notes</h5>
    <p><%=@mydrink.note_body %></p>
    <form action="/my_drinks/<%= @mydrink.id %>" method="post">
      <input type="hidden" name="_method" value="put">
      <textarea name="body" id="" cols="30" rows="2"></textarea>
      <button>Update</button>
    </form>
    <button>Save to MyCocktails</button>
    <h5>Instructions:</h5>
    <p><%= @drink.strinstructions %></p>
  </div>

  <div class="right">
    <p>Serve: <span><%= @drink.strglass %></span><br>
      Ingredients:
    </p>
    <p><%= @drink.stringr1%>  <%= @drink.strmeas1 %></p>
    <p><%= @drink.stringr2%>  <%= @drink.strmeas2 %></p>
    <p><%= @drink.stringr3%>  <%= @drink.strmeas3 %></p>
    <p><%= @drink.stringr4%>  <%= @drink.strmeas4 %></p>
    <p><%= @drink.stringr5%>  <%= @drink.strmeas5 %></p>
  </div>

</div>