<h2>This is to show the details of a drink in my DB</h2>

<div class="container">
  <div class="left" style="background-color: lightblue;">
    <h3><%= @drink.strdrink %></h3>
    <img src="<%= @drink.strdrinkthumb %> " alt="">
    <br>
    <button>Save to MyCocktails</button>
    <h5>Instructions:</h5>
    <p><%= @drink.strinstructions %></p>
  </div>

  <div class="right" style="background-color: mistyrose;">
    <p>Serve: <span><%= @drink.strglass %></span><br>
      Ingredients:
    </p>
    <p><%= @drink.stringr1%>  <%= @drink.strmeas1 %></p>
    <p><%= @drink.stringr2%>  <%= @drink.strmeas2 %></p>
    <p><%= @drink.stringr3%>  <%= @drink.strmeas3 %></p>
    <p><%= @drink.stringr4%>  <%= @drink.strmeas4 %></p>
    <p><%= @drink.stringr5%>  <%= @drink.strmeas5 %></p>